#home-hr {
    width: 100px;
    border-color: rgba(125, 125, 125, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-paragraph {
    line-height: 2rem;
    a { text-decoration: underline; }
}