#navbar-h1 {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

nav {
    font-size: 16px;
    text-align: center;
    a { padding: 0.5rem 1rem; }
    .menu-item-link.active {
      font-weight: bold;
      border-bottom: 1px solid currentColor;
    }
}