.cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.card {
  width: 180px;
  border-radius: 20px;
  background: #f5f5f5;
  padding: 1rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details {
  color: black;
  display: grid;
  gap: 0.5em;
  font-size: 14px;
}

.text-title {
  font-size: 16px;
  font-weight: bold;
}

.text-body {
  color: rgb(134, 134, 134);
}

.card-image {
  width: 100%;
  height: auto;
}

